# Coursera Capstone Week 3 Assignment (Part 1)

Importing the required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

Getting the HTML of the url

In [2]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html=urlopen(url)

Converting the html to a BeautifulSoup object

In [3]:
soup=BeautifulSoup(html,'lxml')

We only require the table of postal codes in the Wikipedia page. Therefore we extract only the table rows.

In [4]:
table_rows=soup.find_all('tr')

Remove the tags from the text and store the text in a list:

In [5]:
table=[]
for row in table_rows:
    listrows = str(row.find_all('td'))
    cleantext = BeautifulSoup(listrows, "lxml").get_text()
    table.append(cleantext)
print(table)

['[]', '[M1A, Not assigned, Not assigned\n]', '[M2A, Not assigned, Not assigned\n]', '[M3A, North York, Parkwoods\n]', '[M4A, North York, Victoria Village\n]', '[M5A, Downtown Toronto, Harbourfront\n]', '[M5A, Downtown Toronto, Regent Park\n]', '[M6A, North York, Lawrence Heights\n]', '[M6A, North York, Lawrence Manor\n]', "[M7A, Queen's Park, Not assigned\n]", '[M8A, Not assigned, Not assigned\n]', '[M9A, Etobicoke, Islington Avenue\n]', '[M1B, Scarborough, Rouge\n]', '[M1B, Scarborough, Malvern\n]', '[M2B, Not assigned, Not assigned\n]', '[M3B, North York, Don Mills North\n]', '[M4B, East York, Woodbine Gardens\n]', '[M4B, East York, Parkview Hill\n]', '[M5B, Downtown Toronto, Ryerson\n]', '[M5B, Downtown Toronto, Garden District\n]', '[M6B, North York, Glencairn\n]', '[M7B, Not assigned, Not assigned\n]', '[M8B, Not assigned, Not assigned\n]', '[M9B, Etobicoke, Cloverdale\n]', '[M9B, Etobicoke, Islington\n]', '[M9B, Etobicoke, Martin Grove\n]', '[M9B, Etobicoke, Princess Gardens\n]', '[M9B, Etobicoke, West Deane Park\n]', '[M1C, Scarborough, Highland Creek\n]', '[M1C, Scarborough, Rouge Hill\n]', '[M1C, Scarborough, Port Union\n]', '[M2C, Not assigned, Not assigned\n]', '[M3C, North York, Flemingdon Park\n]', '[M3C, North York, Don Mills South\n]', '[M4C, East York, Woodbine Heights\n]', '[M5C, Downtown Toronto, St. James Town\n]', '[M6C, York, Humewood-Cedarvale\n]', '[M7C, Not assigned, Not assigned\n]', '[M8C, Not assigned, Not assigned\n]', '[M9C, Etobicoke, Bloordale Gardens\n]', '[M9C, Etobicoke, Eringate\n]', '[M9C, Etobicoke, Markland Wood\n]', '[M9C, Etobicoke, Old Burnhamthorpe\n]', '[M1E, Scarborough, Guildwood\n]', '[M1E, Scarborough, Morningside\n]', '[M1E, Scarborough, West Hill\n]', '[M2E, Not assigned, Not assigned\n]', '[M3E, Not assigned, Not assigned\n]', '[M4E, East Toronto, The Beaches\n]', '[M5E, Downtown Toronto, Berczy Park\n]', '[M6E, York, Caledonia-Fairbanks\n]', '[M7E, Not assigned, Not assigned\n]', '[M8E, Not assigned, Not assigned\n]', '[M9E, Not assigned, Not assigned\n]', '[M1G, Scarborough, Woburn\n]', '[M2G, Not assigned, Not assigned\n]', '[M3G, Not assigned, Not assigned\n]', '[M4G, East York, Leaside\n]', '[M5G, Downtown Toronto, Central Bay Street\n]', '[M6G, Downtown Toronto, Christie\n]', '[M7G, Not assigned, Not assigned\n]', '[M8G, Not assigned, Not assigned\n]', '[M9G, Not assigned, Not assigned\n]', '[M1H, Scarborough, Cedarbrae\n]', '[M2H, North York, Hillcrest Village\n]', '[M3H, North York, Bathurst Manor\n]', '[M3H, North York, Downsview North\n]', '[M3H, North York, Wilson Heights\n]', '[M4H, East York, Thorncliffe Park\n]', '[M5H, Downtown Toronto, Adelaide\n]', '[M5H, Downtown Toronto, King\n]', '[M5H, Downtown Toronto, Richmond\n]', '[M6H, West Toronto, Dovercourt Village\n]', '[M6H, West Toronto, Dufferin\n]', '[M7H, Not assigned, Not assigned\n]', '[M8H, Not assigned, Not assigned\n]', '[M9H, Not assigned, Not assigned\n]', '[M1J, Scarborough, Scarborough Village\n]', '[M2J, North York, Fairview\n]', '[M2J, North York, Henry Farm\n]', '[M2J, North York, Oriole\n]', '[M3J, North York, Northwood Park\n]', '[M3J, North York, York University\n]', '[M4J, East York, East Toronto\n]', '[M5J, Downtown Toronto, Harbourfront East\n]', '[M5J, Downtown Toronto, Toronto Islands\n]', '[M5J, Downtown Toronto, Union Station\n]', '[M6J, West Toronto, Little Portugal\n]', '[M6J, West Toronto, Trinity\n]', '[M7J, Not assigned, Not assigned\n]', '[M8J, Not assigned, Not assigned\n]', '[M9J, Not assigned, Not assigned\n]', '[M1K, Scarborough, East Birchmount Park\n]', '[M1K, Scarborough, Ionview\n]', '[M1K, Scarborough, Kennedy Park\n]', '[M2K, North York, Bayview Village\n]', '[M3K, North York, CFB Toronto\n]', '[M3K, North York, Downsview East\n]', '[M4K, East Toronto, The Danforth West\n]', '[M4K, East Toronto, Riverdale\n]', '[M5K, Downtown Toronto, Design Exchange\n]', '[M5K, Downtown Toronto, Toronto Dominion Centre\n]', '[M6K, West Toronto, Brockton\n]', '[M6K, West Toronto, Exhibition Place\n]', '[M6K, West Toronto, Parkdale Village\n]', '[M7K, Not assigned, Not assigned\n]', '[M8K, Not assigned, Not assigned\n]', '[M9K, Not assigned, Not assigned\n]', '[M1L, Scarborough, Clairlea\n]', '[M1L, Scarborough, Golden Mile\n]', '[M1L, Scarborough, Oakridge\n]', '[M2L, North York, Silver Hills\n]', '[M2L, North York, York Mills\n]', '[M3L, North York, Downsview West\n]', '[M4L, East Toronto, The Beaches West\n]', '[M4L, East Toronto, India Bazaar\n]', '[M5L, Downtown Toronto, Commerce Court\n]', '[M5L, Downtown Toronto, Victoria Hotel\n]', '[M6L, North York, Downsview\n]', '[M6L, North York, North Park\n]', '[M6L, North York, Upwood Park\n]', '[M7L, Not assigned, Not assigned\n]', '[M8L, Not assigned, Not assigned\n]', '[M9L, North York, Humber Summit\n]', '[M1M, Scarborough, Cliffcrest\n]', '[M1M, Scarborough, Cliffside\n]', '[M1M, Scarborough, Scarborough Village West\n]', '[M2M, North York, Newtonbrook\n]', '[M2M, North York, Willowdale\n]', '[M3M, North York, Downsview Central\n]', '[M4M, East Toronto, Studio District\n]', '[M5M, North York, Bedford Park\n]', '[M5M, North York, Lawrence Manor East\n]', '[M6M, York, Del Ray\n]', '[M6M, York, Keelesdale\n]', '[M6M, York, Mount Dennis\n]', '[M6M, York, Silverthorn\n]', '[M7M, Not assigned, Not assigned\n]', '[M8M, Not assigned, Not assigned\n]', '[M9M, North York, Emery\n]', '[M9M, North York, Humberlea\n]', '[M1N, Scarborough, Birch Cliff\n]', '[M1N, Scarborough, Cliffside West\n]', '[M2N, North York, Willowdale South\n]', '[M3N, North York, Downsview Northwest\n]', '[M4N, Central Toronto, Lawrence Park\n]', '[M5N, Central Toronto, Roselawn\n]', '[M6N, York, The Junction North\n]', '[M6N, York, Runnymede\n]', '[M7N, Not assigned, Not assigned\n]', '[M8N, Not assigned, Not assigned\n]', '[M9N, York, Weston\n]', '[M1P, Scarborough, Dorset Park\n]', '[M1P, Scarborough, Scarborough Town Centre\n]', '[M1P, Scarborough, Wexford Heights\n]', '[M2P, North York, York Mills West\n]', '[M3P, Not assigned, Not assigned\n]', '[M4P, Central Toronto, Davisville North\n]', '[M5P, Central Toronto, Forest Hill North\n]', '[M5P, Central Toronto, Forest Hill West\n]', '[M6P, West Toronto, High Park\n]', '[M6P, West Toronto, The Junction South\n]', '[M7P, Not assigned, Not assigned\n]', '[M8P, Not assigned, Not assigned\n]', '[M9P, Etobicoke, Westmount\n]', '[M1R, Scarborough, Maryvale\n]', '[M1R, Scarborough, Wexford\n]', '[M2R, North York, Willowdale West\n]', '[M3R, Not assigned, Not assigned\n]', '[M4R, Central Toronto, North Toronto West\n]', '[M5R, Central Toronto, The Annex\n]', '[M5R, Central Toronto, North Midtown\n]', '[M5R, Central Toronto, Yorkville\n]', '[M6R, West Toronto, Parkdale\n]', '[M6R, West Toronto, Roncesvalles\n]', '[M7R, Mississauga, Canada Post Gateway Processing Centre\n]', '[M8R, Not assigned, Not assigned\n]', '[M9R, Etobicoke, Kingsview Village\n]', '[M9R, Etobicoke, Martin Grove Gardens\n]', '[M9R, Etobicoke, Richview Gardens\n]', '[M9R, Etobicoke, St. Phillips\n]', '[M1S, Scarborough, Agincourt\n]', '[M2S, Not assigned, Not assigned\n]', '[M3S, Not assigned, Not assigned\n]', '[M4S, Central Toronto, Davisville\n]', '[M5S, Downtown Toronto, Harbord\n]', '[M5S, Downtown Toronto, University of Toronto\n]', '[M6S, West Toronto, Runnymede\n]', '[M6S, West Toronto, Swansea\n]', '[M7S, Not assigned, Not assigned\n]', '[M8S, Not assigned, Not assigned\n]', '[M9S, Not assigned, Not assigned\n]', '[M1T, Scarborough, Clarks Corners\n]', '[M1T, Scarborough, Sullivan\n]', "[M1T, Scarborough, Tam O'Shanter\n]", '[M2T, Not assigned, Not assigned\n]', '[M3T, Not assigned, Not assigned\n]', '[M4T, Central Toronto, Moore Park\n]', '[M4T, Central Toronto, Summerhill East\n]', '[M5T, Downtown Toronto, Chinatown\n]', '[M5T, Downtown Toronto, Grange Park\n]', '[M5T, Downtown Toronto, Kensington Market\n]', '[M6T, Not assigned, Not assigned\n]', '[M7T, Not assigned, Not assigned\n]', '[M8T, Not assigned, Not assigned\n]', '[M9T, Not assigned, Not assigned\n]', '[M1V, Scarborough, Agincourt North\n]', "[M1V, Scarborough, L'Amoreaux East\n]", '[M1V, Scarborough, Milliken\n]', '[M1V, Scarborough, Steeles East\n]', '[M2V, Not assigned, Not assigned\n]', '[M3V, Not assigned, Not assigned\n]', '[M4V, Central Toronto, Deer Park\n]', '[M4V, Central Toronto, Forest Hill SE\n]', '[M4V, Central Toronto, Rathnelly\n]', '[M4V, Central Toronto, South Hill\n]', '[M4V, Central Toronto, Summerhill West\n]', '[M5V, Downtown Toronto, CN Tower\n]', '[M5V, Downtown Toronto, Bathurst Quay\n]', '[M5V, Downtown Toronto, Island airport\n]', '[M5V, Downtown Toronto, Harbourfront West\n]', '[M5V, Downtown Toronto, King and Spadina\n]', '[M5V, Downtown Toronto, Railway Lands\n]', '[M5V, Downtown Toronto, South Niagara\n]', '[M6V, Not assigned, Not assigned\n]', '[M7V, Not assigned, Not assigned\n]', '[M8V, Etobicoke, Humber Bay Shores\n]', '[M8V, Etobicoke, Mimico South\n]', '[M8V, Etobicoke, New Toronto\n]', '[M9V, Etobicoke, Albion Gardens\n]', '[M9V, Etobicoke, Beaumond Heights\n]', '[M9V, Etobicoke, Humbergate\n]', '[M9V, Etobicoke, Jamestown\n]', '[M9V, Etobicoke, Mount Olive\n]', '[M9V, Etobicoke, Silverstone\n]', '[M9V, Etobicoke, South Steeles\n]', '[M9V, Etobicoke, Thistletown\n]', "[M1W, Scarborough, L'Amoreaux West\n]", '[M2W, Not assigned, Not assigned\n]', '[M3W, Not assigned, Not assigned\n]', '[M4W, Downtown Toronto, Rosedale\n]', '[M5W, Downtown Toronto, Stn A PO Boxes 25 The Esplanade\n]', '[M6W, Not assigned, Not assigned\n]', '[M7W, Not assigned, Not assigned\n]', '[M8W, Etobicoke, Alderwood\n]', '[M8W, Etobicoke, Long Branch\n]', '[M9W, Etobicoke, Northwest\n]', '[M1X, Scarborough, Upper Rouge\n]', '[M2X, Not assigned, Not assigned\n]', '[M3X, Not assigned, Not assigned\n]', '[M4X, Downtown Toronto, Cabbagetown\n]', '[M4X, Downtown Toronto, St. James Town\n]', '[M5X, Downtown Toronto, First Canadian Place\n]', '[M5X, Downtown Toronto, Underground city\n]', '[M6X, Not assigned, Not assigned\n]', '[M7X, Not assigned, Not assigned\n]', '[M8X, Etobicoke, The Kingsway\n]', '[M8X, Etobicoke, Montgomery Road\n]', '[M8X, Etobicoke, Old Mill North\n]', '[M9X, Not assigned, Not assigned\n]', '[M1Y, Not assigned, Not assigned\n]', '[M2Y, Not assigned, Not assigned\n]', '[M3Y, Not assigned, Not assigned\n]', '[M4Y, Downtown Toronto, Church and Wellesley\n]', '[M5Y, Not assigned, Not assigned\n]', '[M6Y, Not assigned, Not assigned\n]', '[M7Y, East Toronto, Business Reply Mail Processing Centre 969 Eastern\n]', '[M8Y, Etobicoke, Humber Bay\n]', "[M8Y, Etobicoke, King's Mill Park\n]", '[M8Y, Etobicoke, Kingsway Park South East\n]', '[M8Y, Etobicoke, Mimico NE\n]', '[M8Y, Etobicoke, Old Mill South\n]', '[M8Y, Etobicoke, The Queensway East\n]', '[M8Y, Etobicoke, Royal York South East\n]', '[M8Y, Etobicoke, Sunnylea\n]', '[M9Y, Not assigned, Not assigned\n]', '[M1Z, Not assigned, Not assigned\n]', '[M2Z, Not assigned, Not assigned\n]', '[M3Z, Not assigned, Not assigned\n]', '[M4Z, Not assigned, Not assigned\n]', '[M5Z, Not assigned, Not assigned\n]', '[M6Z, Not assigned, Not assigned\n]', '[M7Z, Not assigned, Not assigned\n]', '[M8Z, Etobicoke, Kingsway Park South West\n]', '[M8Z, Etobicoke, Mimico NW\n]', '[M8Z, Etobicoke, The Queensway West\n]', '[M8Z, Etobicoke, Royal York South West\n]', '[M8Z, Etobicoke, South of Bloor\n]', '[M9Z, Not assigned, Not assigned\n]', '[]', '[\n, \n]', '[\n\n\nNL\n\nNS\n\nPE\n\nNB\n\nQC\n\nON\n\nMB\n\nSK\n\nAB\n\nBC\n\nNU/NT\n\nYT\n\n\nA\n\nB\n\nC\n\nE\n\nG\n\nH\n\nJ\n\nK\n\nL\n\nM\n\nN\n\nP\n\nR\n\nS\n\nT\n\nV\n\nX\n\nY\n\n, NL\n, NS\n, PE\n, NB\n, QC\n, ON\n, MB\n, SK\n, AB\n, BC\n, NU/NT\n, YT\n, A\n, B\n, C\n, E\n, G\n, H\n, J\n, K\n, L\n, M\n, N\n, P\n, R\n, S\n, T\n, V\n, X\n, Y\n]', '[NL\n, NS\n, PE\n, NB\n, QC\n, ON\n, MB\n, SK\n, AB\n, BC\n, NU/NT\n, YT\n]', '[A\n, B\n, C\n, E\n, G\n, H\n, J\n, K\n, L\n, M\n, N\n, P\n, R\n, S\n, T\n, V\n, X\n, Y\n]']

Convert the list to a DataFrame

In [6]:
df=pd.DataFrame(table)
df.head(10)

                                         0
0                                       []
1      [M1A, Not assigned, Not assigned\n]
2      [M2A, Not assigned, Not assigned\n]
3           [M3A, North York, Parkwoods\n]
4    [M4A, North York, Victoria Village\n]
5  [M5A, Downtown Toronto, Harbourfront\n]
6   [M5A, Downtown Toronto, Regent Park\n]
7    [M6A, North York, Lawrence Heights\n]
8      [M6A, North York, Lawrence Manor\n]
9      [M7A, Queen's Park, Not assigned\n]

All the table values are in a single column. Let's split it.

In [7]:
df1=df[0].str.split(',',expand=True)
df1

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[M1A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[M2A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[M3A,North York,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[M4A,North York,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
290,[\n,\n],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
291,[\n\n\nNL\n\nNS\n\nPE\n\nNB\n\nQC\n\nON\n\nMB\...,NL\n,NS\n,PE\n,NB\n,QC\n,ON\n,MB\n,SK\n,AB\n,...,L\n,M\n,N\n,P\n,R\n,S\n,T\n,V\n,X\n,Y\n]
292,[NL\n,NS\n,PE\n,NB\n,QC\n,ON\n,MB\n,SK\n,AB\n,BC\n,...,None,None,None,None,None,None,None,None,None,None
293,[A\n,B\n,C\n,E\n,G\n,H\n,J\n,K\n,L\n,M\n,...,None,None,None,None,None,None,None,None,None,None

Drop the unnecessary columns and rows

In [8]:
df1=df1.drop(df1.index[289:294],axis=0)
df1=df1.drop(df1.iloc[:,3:31],axis=1)

In [9]:
df1

        0              1                          2
0      []           None                       None
1    [M1A   Not assigned            Not assigned\n]
2    [M2A   Not assigned            Not assigned\n]
3    [M3A     North York               Parkwoods\n]
4    [M4A     North York        Victoria Village\n]
..    ...            ...                        ...
284  [M8Z      Etobicoke               Mimico NW\n]
285  [M8Z      Etobicoke      The Queensway West\n]
286  [M8Z      Etobicoke   Royal York South West\n]
287  [M8Z      Etobicoke          South of Bloor\n]
288  [M9Z   Not assigned            Not assigned\n]

[289 rows x 3 columns]

Remove the first row

In [10]:
df1=df1.drop([0],axis=0)

In [11]:
df1

        0                  1                          2
1    [M1A       Not assigned            Not assigned\n]
2    [M2A       Not assigned            Not assigned\n]
3    [M3A         North York               Parkwoods\n]
4    [M4A         North York        Victoria Village\n]
5    [M5A   Downtown Toronto            Harbourfront\n]
..    ...                ...                        ...
284  [M8Z          Etobicoke               Mimico NW\n]
285  [M8Z          Etobicoke      The Queensway West\n]
286  [M8Z          Etobicoke   Royal York South West\n]
287  [M8Z          Etobicoke          South of Bloor\n]
288  [M9Z       Not assigned            Not assigned\n]

[288 rows x 3 columns]

The values still contain '[' symbols and other characters. We can clean that.

In [12]:
df1[0]=df1[0].str.strip('[')
df1[2]=df1[2].str.replace('\n]','')

In [13]:
df1

       0                  1                       2
1    M1A       Not assigned            Not assigned
2    M2A       Not assigned            Not assigned
3    M3A         North York               Parkwoods
4    M4A         North York        Victoria Village
5    M5A   Downtown Toronto            Harbourfront
..   ...                ...                     ...
284  M8Z          Etobicoke               Mimico NW
285  M8Z          Etobicoke      The Queensway West
286  M8Z          Etobicoke   Royal York South West
287  M8Z          Etobicoke          South of Bloor
288  M9Z       Not assigned            Not assigned

[288 rows x 3 columns]

We haven't added the table headers. We find them through the soup object using the 'th' tag to search.

In [14]:
col_labels=soup.find_all('th')

In [15]:
col_labels

[<th>Postcode</th>, <th>Borough</th>, <th>Neighbourhood
 </th>, <th class="navbox-title" style="font-size:110%"><a href="/wiki/Postal_codes_in_Canada" title="Postal codes in Canada">Canadian postal codes</a>
 </th>]

Clean the html.

In [16]:
headers=[]
col_labels=str(col_labels)
cleantext2=BeautifulSoup(col_labels,'lxml').get_text()
headers.append(cleantext2)
print(headers)

['[Postcode, Borough, Neighbourhood\n, Canadian postal codes\n]']

Convert the headers list into a DataFrame and clean it just like before

In [17]:
header_df=pd.DataFrame(headers)
header_df=header_df[0].str.split(',',expand=True)
header_df=header_df.drop([3],axis=1) #this column is not required and in fact not present

In [18]:
header_df[0]=header_df[0].str.strip('[')
header_df[2]=header_df[2].str.replace('\n','')
header_df[1]=header_df[1].str.strip()
header_df[2]=header_df[2].str.strip()

In [19]:
header_df

          0        1              2
0  Postcode  Borough  Neighbourhood

Concatenating the frames

In [20]:
frames=[header_df,df1]
df2=pd.concat(frames)
df2

            0              1                       2
0    Postcode        Borough           Neighbourhood
1         M1A   Not assigned            Not assigned
2         M2A   Not assigned            Not assigned
3         M3A     North York               Parkwoods
4         M4A     North York        Victoria Village
..        ...            ...                     ...
284       M8Z      Etobicoke               Mimico NW
285       M8Z      Etobicoke      The Queensway West
286       M8Z      Etobicoke   Royal York South West
287       M8Z      Etobicoke          South of Bloor
288       M9Z   Not assigned            Not assigned

[289 rows x 3 columns]

Add the table headers and remove the first row:

In [21]:
df2=df2.rename(columns=df2.iloc[0])

In [22]:
df2

     Postcode        Borough           Neighbourhood
0    Postcode        Borough           Neighbourhood
1         M1A   Not assigned            Not assigned
2         M2A   Not assigned            Not assigned
3         M3A     North York               Parkwoods
4         M4A     North York        Victoria Village
..        ...            ...                     ...
284       M8Z      Etobicoke               Mimico NW
285       M8Z      Etobicoke      The Queensway West
286       M8Z      Etobicoke   Royal York South West
287       M8Z      Etobicoke          South of Bloor
288       M9Z   Not assigned            Not assigned

[289 rows x 3 columns]

In [23]:
df2=df2.drop([0],axis=0)

In [24]:
df2

    Postcode            Borough           Neighbourhood
1        M1A       Not assigned            Not assigned
2        M2A       Not assigned            Not assigned
3        M3A         North York               Parkwoods
4        M4A         North York        Victoria Village
5        M5A   Downtown Toronto            Harbourfront
..       ...                ...                     ...
284      M8Z          Etobicoke               Mimico NW
285      M8Z          Etobicoke      The Queensway West
286      M8Z          Etobicoke   Royal York South West
287      M8Z          Etobicoke          South of Bloor
288      M9Z       Not assigned            Not assigned

[288 rows x 3 columns]

Remove the white spaces from the columns:

In [25]:
df2['Postcode']=df2['Postcode'].str.strip()
df2['Borough']=df2['Borough'].str.strip()
df2['Neighbourhood']=df2['Neighbourhood'].str.strip()

Removing the rows where the borough is 'Not assigned'

In [26]:
df2 = df2[df2.Borough != 'Not assigned']

In [27]:
df2

    Postcode           Borough             Neighbourhood
3        M3A        North York                 Parkwoods
4        M4A        North York          Victoria Village
5        M5A  Downtown Toronto              Harbourfront
6        M5A  Downtown Toronto               Regent Park
7        M6A        North York          Lawrence Heights
..       ...               ...                       ...
283      M8Z         Etobicoke  Kingsway Park South West
284      M8Z         Etobicoke                 Mimico NW
285      M8Z         Etobicoke        The Queensway West
286      M8Z         Etobicoke     Royal York South West
287      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

Resetting the indices:

In [28]:
df2 = df2.reset_index()

In [29]:
df2=df2.drop(['index'],axis=1)
df2

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M5A  Downtown Toronto               Regent Park
4        M6A        North York          Lawrence Heights
..       ...               ...                       ...
206      M8Z         Etobicoke  Kingsway Park South West
207      M8Z         Etobicoke                 Mimico NW
208      M8Z         Etobicoke        The Queensway West
209      M8Z         Etobicoke     Royal York South West
210      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

Assigning the Neighbourhoods that are 'Not assigned' to their corresponding Borough

In [30]:
for index,row in df2.iterrows():
    if(row['Neighbourhood']=='Not assigned'):
        row['Neighbourhood']=row['Borough']
df2

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M5A  Downtown Toronto               Regent Park
4        M6A        North York          Lawrence Heights
..       ...               ...                       ...
206      M8Z         Etobicoke  Kingsway Park South West
207      M8Z         Etobicoke                 Mimico NW
208      M8Z         Etobicoke        The Queensway West
209      M8Z         Etobicoke     Royal York South West
210      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

Group the neighbourhoods with the same postcode into the same row:

In [31]:
df3=df2.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).to_frame()

In [32]:
df3=df3.reset_index()
df3

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

## The shape of the final DataFrame is as follows:

In [33]:
df3.shape

(103, 3)

Save the dataframe to a csv file to use it in the next assignment.

In [34]:
export_csv = df3.to_csv (r'toronto_neighbourhoods.csv', index = None, header=True)